@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.p-inputnumber-input {
  padding: 0 .5rem;
  width: 72px;
}

.p-datatable {
  width: 95%;
}